@use '../abstracts' as *;

.featured-work-section {
  position: relative;
  padding-block: spacer(8);
  background-color: color(ink);
  color: color(paper);
}

.featured-work-section__card-wrap {
  flex: 0 0 min(85vw, 420px);

  @include max(bp(md)) {
    flex: 1 1 auto;
    width: 100%;
  }
}
