@use '../abstracts' as *;

.not-found-page__link {
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;

  &:hover {
    color: color(black);
  }

  &:focus-visible {
    @include focus-ring;
  }
}
